## TEST AND CHECK DATABASE IF DOWNLOADED PROPERLY USING SOME QUERIES

In [ ]:
import json
import mysql.connector
from mysql.connector.cursor import MySQLCursor

In [ ]:
CONFIG_PATH = "/home/ubuntu/final_submit/part2/config.json"

In [ ]:
# Read MySQL username, password, schema from configuration file
with open(CONFIG_PATH, "r") as f:
    jobj        = json.load(f)
    MYSQL_USER  = jobj["mysql_user"]
    MYSQL_PWD   = jobj["mysql_pwd"]
    MYSQL_DB    = jobj["mysql_db"]
   
assert MYSQL_USER
assert MYSQL_PWD
assert MYSQL_DB

# Open connection to MySQL
conn = mysql.connector.connect(user=MYSQL_USER, 
                               password=MYSQL_PWD,
                               host="localhost",
                               database=MYSQL_DB)

cursor = conn.cursor()

In [ ]:
# return a movie  user sentiment score 
movie_id = int(input("Please enter a movie id:"))

query = f"SELECT count(*) , sum(ur.polarity) " \
        f"FROM reviews r, user_reviews ur " \
        f"WHERE r.movie_id  = {movie_id} "  \
        f" AND r.review_id = ur.review_id"

cursor.execute(query)

#
num_reviews, polarity_sum = cursor.fetchone()

print(num_reviews)
print(polarity_sum)

movie_polarity = round((polarity_sum/num_reviews), 3)

print(f"user polarity = {movie_polarity}")

if(movie_polarity > .3):
    print (f"Positive review :) ")
elif(movie_polarity > - .3):
    print(f"Neutral review :| ")  
else:
    print(f"Negative review :( ")

In [ ]:
# find total movie count
query = (f"SELECT count(*) "
         f"FROM movies")

cursor.execute(query)

print(f"Total number of movies: {cursor.fetchone()[0]}\n")

In [ ]:
# find total actors count
query = (f"SELECT count(*) "
         f"FROM actors")

cursor.execute(query)

print(f"Total number of actors: {cursor.fetchone()[0]}\n")

In [ ]:
# find total directors count
query = (f"SELECT count(*) "
         f"FROM directors")

cursor.execute(query)

print(f"Total number of directors: {cursor.fetchone()[0]}\n")

In [ ]:
# find total user reviews count
query = (f"SELECT count(*) "
         f"FROM user_reviews")

cursor.execute(query)

print(f"Total number of user reviews: {cursor.fetchone()[0]}\n")

In [ ]:
# find total user critic reviews count
query = (f"SELECT count(*) "
         f"FROM critique")

cursor.execute(query)

print(f"Total number of critic reviews: {cursor.fetchone()[0]}\n")

In [ ]:
# list of all movie genres in the database:
query = (f"SELECT g.genre_id, g.genre_type "
         f"FROM genres g " 
         f"ORDER BY g.genre_type ASC")

cursor.execute(query)

num = 1
print(f"Num | id | movie genre")
for row in cursor.fetchall():
    print(f"{num:2d})   {row[0]:2d}   {row[1]}")
    num = num + 1

In [ ]:
# Find actor names for a given movie title
title = input("Please enter movie title: ")

query = (f"SELECT a.actor_id, a.name " 
         f"FROM movies m, plays_in p, actors a " 
         f"WHERE m.title = \'{title}\' " 
         f" AND m.movie_id = p.movie_id "  
         f"AND p.actor_id = a.actor_id "  
         f"ORDER BY a.name ASC")

cursor.execute(query)

num = 1
print("\nNum | id    | Actor name:")
for row in cursor.fetchall():
    print(f"{num:2d})  {row[0]:5d}    {row[1]}")
    num = num + 1

In [ ]:
# Find director names for a given movie title
title = input("Please enter movie title:")

query = (f"SELECT d.director_id, d.name "
         f"FROM movies m, directed dir, directors d " 
         f"WHERE m.title = \'{title}\' " 
         f" AND m.movie_id = dir.movie_id "  
         f"AND dir.director_id = d.director_id "  
         f"ORDER BY d.name ASC")
        
cursor.execute(query)

num = 1
print("\nNum | id    | Director name:")
for row in cursor.fetchall():
    print(f"{num:2d})  {row[0]:5d}    {row[1]}")
    num = num + 1

In [ ]:
# Find movies of a given genre
genre = input("Please enter a movie genre:")
count = int(input("Please enter how many movies to display:"))

query = (f"SELECT m.title, m.movie_id " 
         f"FROM movies m, movie_genre mg, genres g " 
         f"WHERE g.genre_type = \'{genre}\' " 
         f" AND m.movie_id = mg.movie_id "  
         f"AND mg.genre_id = g.genre_id "  
         f"ORDER BY m.title ASC")

cursor.execute(query)

num = 1
print(f"\nList of {count} {genre} movies:")
for row in cursor.fetchall():
    print(f"{num:5d}) movie id = {row[1]:5d}  {row[0]}")
    num = num + 1
    if(num > count):
        break

In [ ]:
# Find all movie titles where a given actor played in 
name  = input("Please enter an actor name:")
count = int(input("Please enter how many movies to display:"))

query = (f"SELECT m.title, m.movie_id " 
         f"FROM movies m, plays_in p, actors a " 
         f"WHERE a.name = \'{name}\' " 
         f" AND m.movie_id = p.movie_id "  
         f"AND p.actor_id = a.actor_id "  
         f"ORDER BY m.title ASC")

cursor.execute(query)

num = 1
print(f"\nList of up to {count} \"{name}\" movies:")
for row in cursor.fetchall():
    print(f"{num:3d} id = {row[1]:5d} {row[0]}")
    num = num + 1
    if(num > count):
        break

In [ ]:
# Find all movie titles of a given director 
name  = input("Please enter a director name:")
count = int(input("Please enter how many movies to display:"))

query = (f"SELECT m.title, m.movie_id " 
         f"FROM movies m, directed dir, directors d " 
         f"WHERE d.name = \'{name}\' " 
         f" AND m.movie_id = dir.movie_id "  
         f"AND dir.director_id = d.director_id "  
         f"ORDER BY m.title ASC")

cursor.execute(query)

num = 1
print(f"\nList of up to {count} movies directed by {name}:")
for row in cursor.fetchall():
    print(f"{num:3d}) id = {row[1]:5d}  {row[0]}")
    num = num + 1
    if(num > count):
        break

In [ ]:
# Find all movie titles of a given distributor
distributor  = input("Please enter a distributor name:")
count        = int(input("Please enter how many movies to display:"))

query = (f"SELECT m.movie_id, m.title " 
         f"FROM movies m " 
         f"WHERE m.distributor = \'{distributor}\' "   
         f"ORDER BY m.title ASC")

cursor.execute(query)

num = 1
print(f"\nList of up to {count} movies distributed by {distributor}:")
print(f" Num  | id   | movie title")
for row in cursor.fetchall():
    print(f"{num:4d})  {row[0]:5d}   {row[1]}")
    num = num + 1
    if(num > count):
        break

In [ ]:
# Find all reviews of a given movie by title 
title  = input("Please enter a movie name:")
count = int(input("Please enter how many user reviews to display:"))

query = (f"SELECT ur.username, ur.u_score, ur.u_review , ur.polarity " 
         f"FROM movies m, reviews r, user_reviews ur " 
         f"WHERE m.title = \'{title}\' " 
         f" AND m.movie_id = r.movie_id "  
         f"AND r.review_id = ur.review_id "  
         f"ORDER BY ur.u_score DESC")

cursor.execute(query)

num = 1
print(f"\nList of up to {count} user reviews given for \"{title}\" movie:")
for row in cursor.fetchall():
    print(f"\n{num}) username: {row[0]}, score: {row[1]}, polarity:{row[3]}")
    print(f"User Review:\n{row[2]}")
    
    num = num + 1
    if(num > count):
        break

In [ ]:
# Find all critic reviews of a given movie by title 
title  = input("Please enter a movie name:")
count = int(input("Please enter how many critic reviews to display:"))

query = (f"SELECT cr.c_score, cr.c_review , cr.polarity " 
         f"FROM movies m, critique c, critic_reviews cr " 
         f"WHERE m.title = \'{title}\' " 
         f" AND m.movie_id = c.movie_id "  
         f"AND c.critic_id = cr.critic_id "  
         f"ORDER BY cr.polarity DESC")

cursor.execute(query)

num = 1
print(f"\nList of up to {count} critic reviews given for \"{title}\" movie:")
for row in cursor.fetchall():
    print(f"\n{num}) score: {row[0]} polarity:{row[2]}")
    print(f"Critic Review:\n{row[1]}")

    num = num + 1
    if(num > count):
        break

In [ ]:
# 4 find urls of a movie using a movie_id (returned by earlier user movie selection)
movie_id = int(input("Please enter a movie id:"))

query = (f"SELECT sl.url "
         f"FROM stream_links sl "
         f"WHERE sl.movie_id = \'{movie_id}\' ")
         
cursor.execute(query)

num = 1
print("\nURL:")
for row in cursor.fetchall():
    print(f"{num:2d})  {row[0]}")
    num = num + 1

In [ ]:
# return an movie image given a movie id
movie_id = int(input("Please enter a movie id:"))

query = (f"SELECT image "
         f"FROM   movies "
         f"WHERE  movie_id = \'{movie_id}\' ")
         
cursor.execute(query)

print("\nMovie cover image:")
print(cursor.fetchone()[0])

In [ ]:
# close the cursor and the connection 
cursor.close()
conn.close()